
#page-content .panel.sidebar-menu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

#page-content .panel.sidebar-menu .panel-body label {
  color: #999999;
  font-size: 12px;
}
#page-content .panel.sidebar-menu .panel-body label:hover {
  color: #000000;
}
#page-content .panel.sidebar-menu h3 {
  padding: 5px 0;
  margin: 0;
}
#page-content .panel.sidebar-menu ul.nav.category-menu {
  margin-bottom: 20px;
  
}
#page-content .panel.sidebar-menu ul.nav.category-menu li a {
  text-transform: uppercase;
  font-weight: bold;
}
#page-content .panel.sidebar-menu ul.nav ul {
  list-style: none;
  padding-left: 0;
}
#page-content .panel.sidebar-menu ul.nav ul li {
  display: block;
}


#page-content .panel.sidebar-menu ul.nav li a,
#page-content .panel.sidebar-menu ul.nav ul li a {
  position: relative;
  font-weight: normal;
  display: block;
  padding: 10px 15px;
  padding-left: 30px;
  font-size: 12px;
  color: #999999;
}


#page-content .panel.sidebar-menu ul.nav li.active a,
#page-content .panel.sidebar-menu ul.nav li.active a:hover,
#page-content .panel.sidebar-menu ul.nav li.active a:focus,
#page-content .panel.sidebar-menu ul.nav li a:hover,
#page-content .panel.sidebar-menu ul.nav li a:focus,
#page-content .panel.sidebar-menu ul.nav ul li.active a,
#page-content .panel.sidebar-menu ul.nav ul li.active a:hover,
#page-content .panel.sidebar-menu ul.nav ul li.active a:focus,
#page-content .panel.sidebar-menu ul.nav ul li a:hover,
#page-content .panel.sidebar-menu ul.nav ul li a:focus {
  text-decoration: none;
  background-color: #000000;
  color: #ffffff;
}

